* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.page-header-logo {
    .page-container {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        h2 {
            padding-top: 15px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 35px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}

header {
    margin-top: 20px;

    .header-container {
        width: 95%;
        margin: 0 auto;

        nav {
            border-radius: 10px 10px 0px 0px;
            background: rgba(93, 40, 146, 0.082);
            ul {
                height: 50px;
                list-style: none;
                justify-content: center;
                display: flex;
                align-items: center;

                li {
                    margin: 0px 20px;
                    letter-spacing: 2px;

                    a {
                        font-size: 20px;
                        color: #000;
                    }
                }
            }
        }
    }
}
@media(max-width:475px){
    nav{
        ul{
            li{
                margin: 0px !important;
                letter-spacing: 1px !important;
            }
            a{
                font-size: 17px !important  ;
                padding: 0px 10px !important;
            }
        }
    }
}
#main {
    .main-container {
        width: 95%;
        margin: 0 auto;

        .main-row {
            border-radius: 0px 0px 10px 10px;
            padding: 50px 0px;
            display: flex;
            flex-wrap: wrap;
            background-color: rgb(241, 103, 149);

            .main-left {
                flex-grow: 1;
                flex-basis: 350px;
                justify-content: center;
                display: flex;
                padding-left: 95px;
                flex-direction: column;

                h1 {
                    margin: 10px 0px;
                    font-size: 50px;
                    color: #fff;
                    width: 60%;
                }

                p {
                    margin-bottom: 50px;
                    color: #fff;
                    font-size: 22px;
                    letter-spacing: 1px;
                }

                .main-btn {
                    background-color: orange;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    height: 50px;
                    border-radius: 4px;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 1px;
                    font-weight: bold;
                    transition: 500ms all;
                    border: 1px solid orange;

                    &:hover {
                        background: none;
                        color: orange;
                    }
                }
            }

            .main-right {
                flex-grow: 1;
                flex-basis: 350px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 285px;
                }
            }
        }
    }
}

@media(max-width:655px){
    .main-right{
        img{
            width: 300px !important;
        }
    }
    .main-left{
        padding-left: 15px !important;
        margin-bottom: 25px;
        padding-right: 15px !important;
    }
}

#product {
    margin-top: 50px;

    .product-container {
        width: 85%;
        margin: 0 auto;

        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

        .product-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.8rem;

            .product-content {
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                background: rgba(173, 169, 169, 0.24);
                height: 300px;
                width: 280px;
                flex-grow: 1;
                flex-basis: 300px;
                position: relative;

                &::before {
                    width: 52px;
                    height: 52px;
                    content: "New";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 5px;
                    text-align: center;
                    left: 10px;
                    font-size: 18px;
                    background: #fff;
                    border-radius: 50%;
                    position: absolute;
                }

                .product-text {
                    bottom: 0;
                    color: #fff;
                    width: 100%;
                    text-transform: uppercase;
                    color: #000;
                    position: absolute;

                    .product-conum {
                        display: flex;
                        justify-content: space-evenly;
                        padding-bottom: 10px;
                    }
                }

                img {
                    width: 45%;
                    height: 55%;
                }
            }
        }
    }
}

@media(max-width:672px){
    .product-content{
        img{
            width: 60% !important;
            height: 60% !important;
        }
    }
}
.product {
    display: flex;
    justify-content: center;

    .product-btn {
        margin-top: 40px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        background: rgba(243, 2, 2, 0.712);
        padding: 13px 45px;
        border: 1px solid rgba(243, 2, 2, 0.712);
        transition: 500ms all;

        &:hover {
            background: white;
            color: rgba(243, 2, 2, 0.712);
        }
    }
}

#reklam {
    margin-top: 70px;

    .reklam-container {
        width: 95%;
        margin: 0 auto;

        .reklam-row {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            padding: 40px 20px;
            align-items: center;
            background: skyblue;
            flex-wrap: wrap;

            .reklam-left {

                display: flex;
                flex-grow: 1;
                flex-basis: 400px;
                align-items: center;
                justify-content: center;
            }

            .reklam-right {


                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 400px;
                flex-grow: 1;
                flex-basis: 400px;


                h2 {
                    color: #fff;
                    font-size: 40px;
                }

                p {
                    color: #fff;
                    font-size: 19px;
                    letter-spacing: 1px;
                }

                .reklam-btn {
                    display: flex;

                    a {
                        &:first-child {
                            margin-right: 30px;
                            color: #fff;
                            padding: 13px 45px;
                            background: rgb(41, 97, 119);
                            border: 1px solid rgb(41, 97, 119);
                            transition: 500ms all;
                            font-size: 18px;

                            &:hover {

                                background: none;
                                color: rgb(41, 97, 119);
                            }
                        }
                    }

                    a {
                        &:last-child {
                            font-size: 18px;
                            padding: 13px 45px;
                            background: #fff;
                            color: #000;
                            transition: 500ms all;
                            border: 1px solid #fff;

                            &:hover {
                                background: none;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(max-width:1040px) {
    .reklam-right {
        h2 {
            font-size: 30px !important;
        }

        p {
            font-size: 16px !important;
        }

        .reklam-btn {
            a {
                padding: 13px 25px !important;
            }
        }
    }
}

@media(max-width:673px) {
    .reklam-right {
        order: -1 !important;
    }

    img {
        width: 100% !important;
    }
}

#shop {
    .shop-container {
        width: 80%;
        margin: 0 auto;

        h3 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-size: 25px;

        }

        .shop-row {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .shop-content {
                flex-grow: 1;
                height: 200px;
                flex-basis: 200px;
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(207, 204, 204, 0.219);

                img {
                    margin-bottom: 20px;
                    max-width: 100px;
                    height: 55px;
                }

                span {
                    font-size: 22px;
                    color: rgba(0, 0, 0, 0.842);
                    font-weight: bold;
                }

                P {
                    margin-top: 10px;
                }
            }
        }
    }
}

#balon {
    margin-top: 100px;

    .balon-container {
        width: 95%;
        margin: 0 auto;
        background-color: purple;
        border-radius: 10px;

        .balon-row {
            display: flex;
            align-items: center;
            padding: 30px 50px;
            flex-wrap: wrap;
            justify-content: center;

            .balon-content {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 350px;

                h3 {
                    color: #fff;
                    font-size: 35px;
                }

                p {
                    color: #fff;
                    letter-spacing: 1px;
                    margin-top: 15px;
                }

                .balon-btn {
                    margin-top: 50px;

                    a {
                        &:first-child {
                            color: #000;
                            background-color: white;
                            padding: 11px 45px;
                            font-size: 18px;
                            border: 1px solid #fff;
                            transition: 500ms all;
                            margin-right: 15px;

                            &:hover {
                                background: none;
                                color: #fff;
                            }
                        }
                    }

                    a {
                        &:last-child {
                            color: #000;
                            background-color: rgb(224, 37, 224);
                            padding: 11px 45px;
                            font-size: 18px;
                            border: 1px solid rgb(224, 37, 224);
                            color: #fff;
                            transition: 500ms all;

                            &:hover {
                                background: none;
                                color: #fff;
                                border: 1px solid rgb(224, 37, 224);
                            }
                        }
                    }
                }

                img {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}
@media(max-width:475px){
    .balon-row{
        padding: 30px 15px !important;
    }
    a{
        padding: 13px 20px !important;
    }
    .balon-content{
        img{
            margin-bottom: 25px !important;
        }
    }
}
#contact {
    .contact-container {
        width: 85%;
        margin: 0 auto;

        h3 {
            font-weight: bold;
            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 40px;
        }

        .contact-row {
            display: flex;
            flex-wrap: wrap;
            box-shadow: 0px 0px 15px 0px rgba(97, 93, 93, 0.212);
            align-items: center;
            justify-content: center;

            .contact-content {
                flex: 1;
                flex-basis: 300px;
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                }
            }

            form {
                background: #fff;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                #name {
                    width: 75%;
                    margin-bottom: 15px;
                    padding: 19px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.507);

                    &::placeholder {
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.849);
                    }
                }

                #email {
                    margin-bottom: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.507);
                    width: 75%;
                    padding: 19px 10px;

                    &::placeholder {
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.849);
                    }
                }

                #number {
                    margin-bottom: 15px;
                    border: 1px solid rgba(0, 0, 0, 0.507);
                    width: 75%;
                    padding: 19px 10px;

                    &::placeholder {
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.849);
                    }
                }

                #message {
                    border: 1px solid rgba(0, 0, 0, 0.507);
                    width: 75%;
                    padding: 19px 10px;

                    &::placeholder {
                        font-size: 20px;
                        color: rgba(0, 0, 0, 0.849);
                    }
                }

                #button {
                    padding: 13px 45px;
                    background: rgba(255, 0, 0, 0.671);
                    color: #fff;
                    border: none;
                    margin-top: 50px;
                    cursor: pointer;
                }
            }
        }
    }
}

#footer {
    margin-top: 100px;

    .footer-container {
        width: 95%;
        margin: 0 auto;
        position: relative;

        .footer-row {
            padding: 150px 50px;
            background: rgba(0, 0, 0, 0.877);
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .footer-content {
                padding-left: 80px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                h4 {
                    color: #fff;
                    margin-bottom: 20px;
                    font-size: 23px;
                    font-weight: bold;
                    text-transform: uppercase;

                }

                p {
                    text-align: start;
                    color: #fff;
                    letter-spacing: 1px;
                    line-height: 1.4;
                    font-size: 16px;
                }

                #text-footer {
                    height: 50px;
                    width: 250px;

                    &::placeholder {
                        padding: 0px 15px;
                        font-size: 20px;
                    }
                }

                #footer-btn {
                    cursor: pointer;
                    width: 35%;
                    height: 40px;
                    background: rgba(255, 0, 0, 0.596);
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    margin-top: 20px;

                }
            }
        }

        .footer-icon {
            position: absolute;
            top: 10%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -10%);

            i {
                margin-right: 20px;
                font-size: 26px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media(max-width:1200px){
    .footer-row{
        grid-template-columns: 1fr 1fr !important;
       
       .mb{
           margin-top: 45px;
       }
    }
}

@media(max-width:800px){
    .footer-row{
        grid-template-columns: 1fr !important;
    }
    .footer-content{
        h4{
            margin-bottom: 15px !important;
        }
        p{
            margin-bottom: 40px;
        }
        .mb{
            margin-top: 0px;
        }
    }
}

@media(max-width:600px){
    .footer-content{
        padding-left: 10px !important;
    }
}


.by {
    width: 100%;
    margin-top: 35px;
    text-align: center;
    padding-top: 30px;
    background: rgba(226, 224, 224, 0.678);
    padding-bottom: 30px;

    .product-content {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.678);
        font-style: italic;
    }
}